*, *::after, *::before{

box-sizing: border-box;
 padding: 0;
 margin: 0;
}

body{
background-image: url("../img/wood-bg.png");
font-family: lato;
}

img{
    width: auto;
    height: auto;
    max-height: 100%;
}

.right{
    float: right;
}

.left{
    float: left;
}

.col1of1{
	width: 100%;
	height: auto;
background-color: #383838;
}

.col1of2{
	width: 50%;
	height: auto;
}

.col1of4{
	width: 25%;
	height: auto;
}

.col1of10{
	width: 10%;
	height: auto;
}

.col7of10{

	width:70%;
	margin-left: 15%;
	height: auto;
	margin-top: 2em;
	margin-bottom: 5em;
	position: relative;
	
}

h1{
	text-align: center;
}

nav{

	height: 80px;
	
	background-color: white;
}

nav p{
	margin-left: 78%;
	padding-top: 30px;
}

.topBar{
width: 100%;
height: 50px;
background-color: rgba(255,255,255,0.5);

}

.searchBar{
	width: 70%;
	margin-left: 15%;
}

.searchBar p{
	font-size: 1.0em;
	opacity: 0.5;
	display: inline-block;
	padding-top: 1em;
}

#black{
	opacity: 1;
}

.searchBar input[type=text]{
	margin-left: 67%;
	margin-top: 1em;
	vertical-align: top;
	height: 25px;
	margin-right: 0;
	
}

input.quantity{
    max-width: 2rem;
    background: none;
    border: 1px solid #42ACA4;
}

.orderItem button{
	
	vertical-align: center;
	height: 1.4em;
	width: 1em;
    
    color: white;
	
	margin-left:0;
	padding:0;
	background-color: #42ACA4;
	border: 1px solid #42ACA4;
	
}

.searchBar button{
	
	margin-top: 1em;
	vertical-align: top;
	height: 25px;
	width: 40px;
	
	margin-left:0;
	padding:0;
	background-color: #42ACA4;
	border: none;
	
}

.items{
	width:32.5%;
	display: inline-block;
	
	margin-right: 5%;
	height: 38em;
	background-color: rgba(255,255,255,0.5);
}

.items h4{
	margin-left: 5%;
	margin-top: 1em;
}

.orderItem{
	width: 75%;
	height: auto;
	border-bottom: 1px solid #8C8E91;
	margin-left: 5%;
}

.orderItem p{
	
	margin-top: 1em;
	margin-bottom: 1em;
	font-weight: bold;
}

.greenText {
    color: #42ACA4;
}


.details{

	width: 62%;
	display: inline-block;
	
	margin-right: 0;
	height: 35em;
	vertical-align: top;
}

.details button{
	
	
	
	height: 40px;
	width: 20%;
	right: 0;
	bottom: 0;
	background-color: #42ACA4;
	border: none;
	position: absolute;
	color: white;

	
}

.subDetails{
	width:100%;
	height:30%;
	margin-bottom: 1em;
	
	background-color: rgba(255,255,255,0.5);

}

.subDetails select{

	margin-left: 5%;
	margin-top: 1.5em;
	width: 45%;
	height: 30px;
	display: inline-block;
	border: 1px solid #42ACA4;
}

.subDetails button{
	
	
	margin-top: 1.5em;
	vertical-align: top;
	height: 30px;
	width: 15%;
	
	margin-left:0;
	padding:0;
	background-color: #42ACA4;
	border: none;
}

.subDetails h3{
	font-size: 1.1em;
	margin-left: 5%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	line-height: 1.3em;
	color: #5A5A59;
}



.boxTitle{
	width: 100%;
	background-color: white;
	height: 30px;
	
}

.boxTitle p{
	padding-top: 4px;
	margin-left: 5%;
	color: #42ACA4;
    font-weight: bold;
}

#largerBox{

	height:40%;
}

#middleBox{

	height:30%;
}

#smallBox{

	height:23%;
}

.deliveryTime{
	width: 15%;
	
	margin-left: 5%;
	display: inline-block;
}

.deliveryTime p{

	margin-top: 1em;
	margin-bottom: 1em;
	font-weight: bold;
	font-size: 1.1em;
	color: #42ACA4;

}


.deliveryInfo{
display: inline-block;
width:79%;

vertical-align: top;
}

.deliveryInfo select{

	margin-top: 1em;
	margin-left: 5%;
	width: 25%;
	border: 1px solid #42ACA4;
}


.deliveryInfo textarea{
	display: block;
	margin-left: 5%;
	margin-top: 1em;
	width: 75%;
	height: 5em;
    text-align: justify;	
}

.deliveryButtons{
margin-left: 5%;
margin-right: 20%;

}

.deliveryButton{
	width:18%;
	border: 1px solid #5A5A59;
	text-align: center;
	margin-top: 0.5em;
	margin-right: 1.49%;
	display: inline-block;
    background: #FFF;
}

.deliveryButton:hover{
	width:18%;
	border: 1px solid #5A5A59;
	text-align: center;
	margin-top: 0.5em;
	margin-right: 1.49%;
	display: inline-block;
    background: #42ACA4;
}

.priceComponents{
	margin-left: 5%;
	width:45%;
	margin-top: 1em;
	display: inline-block;
	font-size: 1.2em;
	text-align: right;
	
}

.priceCat{
	display: inline-block;
	margin-right: 12%;
	color: #42ACA4;
	font-weight: bold;
    text-align: center;
}

.priceAmount{
	display: inline-block;
	margin-right: 6%;
	margin-top: 0.5em;
	color: black;
	text-align: center;
	font-weight: bold;
}


.priceTotal{
	margin-left: 2%;
	width:44%;
	margin-top: 2em;
	display: inline-block;
	
	vertical-align: top;

}
.priceTotal h2{
color: #42ACA4;
font-size: 1.25em;
display: inline-block;

}

.footer{

  width: 80%;
  margin-left: 15%;
  
  height: 400px;
}

.hoursContainer{
  width: 28.5%;
  height: 80%;
  display: inline-block;
  margin-top: 3em;
  border-right: 2px solid #42ACA4;
  color: white;

}

.hours{
	
	margin-left: 40%;
	margin-top: 22%;
}

.hours p{

	text-align: left;
	margin-bottom: 1em;
	font-size: 1.25em;

}

.footerInfo{
  display: inline-block;
  vertical-align: top;
  margin-left: 7em;
  margin-top: 7%;
  color: white;
  font-size: 1.25em;
  
}

.footerInfo p{
	margin-top: 1em;
	margin-bottom: 1em;
}

