*, *::after, *::before{

box-sizing: border-box;
 padding: 0;
 margin: 0;
}

body{
background-image: url("../img/wood-bg.png");
font-family: lato;
}

img{
    width: auto;
    height: auto;
    max-height: 100%;
}

.hoursImage img {
    width: 6rem;
    height: auto;
}

.right{
    float: right;
}

.left{
    float: left;
}

.col1of1{
	width: 100%;
	height: auto;
background-color: #383838;
}

.col1of2{
	width: 50%;
	height: auto;
}

.col1of4{
	width: 25%;
	height: auto;
}

.col1of10{
	width: 10%;
	height: auto;
}

.col7of10{

	width:70%;
	margin-left: 15%;
	height: auto;
	margin-top: 2em;
	margin-bottom: 5em;
	position: relative;
	
}

h1{
	text-align: center;
}

nav{
	height: 80px;
	background-color: white;
}

a, a:active, a:link, a:visited{
    text-decoration: none;
    color: grey;
}

.logo,
.navButtons{
    display: inline-block;
}

.logo {
    margin-left: 15%;
    padding-top: 1.3rem;
}

.logo p {
    display: inline-block;
    font-size: 1.7rem;
    vertical-align: top;
}

nav .navButtons{
	margin-left: 50%;
	padding-top: 1.25rem;
}

nav img{
    width: auto;
    height: 2.1rem;
}

nav button {
    background: none;
    border: none;
    position: relative;
}

nav button span{
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;

    background: #42ACA4;
    color: white;
    border: none;
    text-align: center;
    padding: 2px;
    
    font-size: 0.7rem;
}

.topBar{
width: 100%;
height: 50px;
background-color: rgba(255,255,255,0.5);
}


.topBar p{
    font-weight: bold;
}

.searchBar{
	width: 70%;
	margin-left: 15%;
}

.searchBar p{
	font-size: 1.0em;
	opacity: 0.5;
	display: inline-block;
	padding-top: 1em;
}

#black{
	opacity: 1;
}

.searchBar input[type=text]{
	margin-left: 67%;
	margin-top: 1em;
	vertical-align: top;
	height: 25px;
	margin-right: 0;
	
}

input.quantity{
    max-width: 2rem;
    background: none;
    border: 1px solid #42ACA4;
}

.orderItem button{
	
	vertical-align: center;
	height: 1.3em;
	width: 1em;
    
    color: white;
	
	margin-left:0;
	padding:0;
	background-color: #42ACA4;
	border: 1px solid #42ACA4;
	
}

.searchBar button{
	
	margin-top: 1em;
	vertical-align: top;
	height: 25px;
	width: 40px;
	
	margin-left:0;
	padding:0;
	background-color: #42ACA4;
	border: none;
	
}

.locationFilter{
	width:32.5%;
	display: inline-block;
	
	margin-right: 5%;
	height: auto;
	
}

.city{
	width:100%;
	display: block;
	height: auto;
	background-color: rgba(255,255,255,0.5);
	margin-bottom: 2em;
}

.cityButtons{
	height:80%;
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left:10%; 
	width: 100%;
}


.cityButton{
    width:34%;
    margin-bottom: 2em;
    background-color: white;
    text-align: center;
    display: inline-block;
    margin-right: 10%;
    cursor: pointer;
}

.cityButton.selected, .typeButton.selected{
    border-color: #42ACA4;
    border-width: 0.25rem;
    border-style: solid;
}



.typeButton{
    width:34%;
    margin-bottom: 2em;
    background-color: white;
    text-align: center;
    display: inline-block;
    margin-right: 10%;
    cursor: pointer;
	margin-right: 3%;
	width: 23.3%;
	margin-bottom: 1em;
}

.typeButton p{
	padding-top: 0.75em;
	padding-bottom: 0.75em;
}

.cityButton p{
	padding-bottom: 1em;
	padding-top: 1em;
}

.locationGridItem{

width: 23.3%;
margin-bottom: 2em;
display: inline-block;
margin-right: 5%;
height: 10em;
background-color: rgba(255,255,255,0.5);
vertical-align: top;
border-radius: 10%;
overflow: hidden;

}


.gridImage{
	height: 75%;
	width: 100%;
}

.gridImage:hover{
    cursor: pointer;
}

.gridImage img{
	width: 100%;
	height: 100%;
}

.gridText{
	width: 44%;
	margin-left: 5%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	display: inline-block;
}

.gridTextRight{
	width: 44%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-align: right;
	margin-right: 2%;
    font-size: 0.75rem;
	display:inline-block;
    padding: 0;
}

.gridTextRight p:before {
    content: ' \25CF';
    font-size: 10px;
    display: inline-block;
    margin-right: 0.25rem;
}

.green{
    color: #42ACA4;
}

.grey{
    color: grey;
}

.foodGridItem{

width: 40%;
margin-bottom: 2em;
display: inline-block;
margin-right: 5%;
height: 7em;
background-color: rgba(255,255,255,0.5);
vertical-align: top;
border-radius: 5%;
overflow: hidden;

}

.foodGridItem:hover{
    background-color: dimgrey;
    color: white;
}

.foodInfo{

	display: inline-block;
	
	margin-left: 5%;
	margin-top: 10%;
	
	width: 50%;
}

.foodGridImage{
	height: 50%;
	width: 33%;
	margin-left: 5%;
	margin-top: 8%;
	vertical-align: top;
	
	display: inline-block;
}

.foodGridImage img{
	width: 100%;
	height: 100%;
}

.items{
	width:32.5%;
	display: inline-block;
	
	margin-right: 5%;
	height: 38em;
	background-color: rgba(255,255,255,0.5);
}

.items h4{
	margin-left: 5%;
	margin-top: 1em;
}


.about{
	width:32.5%;
	display: inline-block;
	margin-right: 5%;
	height: auto;
	background-color: rgba(255,255,255,0.5);
}

#categoryA{
display: block;
}

#categoryB{
display: none;
}

#categoryC{
display: none;
}

.categoryItem{
padding-top: 0.5em;
padding-bottom: 0.5em;
}

.categoryItem:hover{
    color: #FFF;
    background: #42ACA4;
    cursor: pointer;
    cursor: hand;
}

.categoryItem.selected{
    color: #FFF;
    background: #42ACA4;
}


.foodFilter{
padding-top: 0.5em;
padding-bottom: 0.5em;
border-bottom: 1px solid #BBB9AC;
border-top: 1px solid #BBB9AC;
}

.foodFilter:hover{
    background: white;
    cursor: pointer;
    cursor: hand;
}

.foodFilter.selected{
    background: white;
}


.foodFilter h4{
	margin-left: 5%;
    display: inline-block;
}

.restaurantPreview{

	height:100%;
	
	margin-left: 5%; 
	width: 100%;
	
}

.previewImage{
	
	width: 100%;
	margin-top: 5%;
	margin-bottom: 5%;
}


.previewImage img{
	width: 90%;
	height: auto;
}

.previewInfo{
	font-weight: bold;
	margin-bottom: 5%;
}

.previewInfo p{
margin-bottom: 1.5%;

}

.about h4{
	margin-left: 5%;
	
}

.orderItem{
	width: 75%;
	height: auto;
	border-bottom: 1px solid #8C8E91;
	margin-left: 5%;
}

.orderItem p{
	
	margin-top: 1em;
	margin-bottom: 1em;
	font-weight: bold;
}

.greenText {
    color: #42ACA4;
}

.locations{


	width: 62%;
	display: inline-block;
	margin-right: 0;
	height: auto;
	vertical-align: top;
	
	}

.details{

	width: 62%;
	display: inline-block;
	
	margin-right: 0;
	height: 35em;
	vertical-align: top;
}



.detailsContainer{
	width: 62%;
	display: inline-block;
	
	margin-right: 0;
	height: auto;
	vertical-align: top;
}


#submitButton{
	height: 40px;
	width: 20%;
	background-color: #42ACA4;
	border: none;
	position: static;
    float : right;
	color: white;
}

#addAddressButton{
	height: 30px;
	width: 10%;
	background-color: #42ACA4;
	border: none;
	color: white;
}

.subDetails{
	width:100%;
	height:30%;
	margin-bottom: 1em;
	
	background-color: rgba(255,255,255,0.5);
}

.aboutDetails{

	width:100%;
	height: auto;
	margin-bottom: 1em;
	background-color: rgba(255,255,255,0.5);
}

.subDetails select{
	margin-left: 5%;
	margin-top: 1.5em;
	width: 45%;
	height: 30px;
	display: inline-block;
	border: 1px solid #42ACA4;
}

.subDetails button{
    margin-top: 1.5em;
	vertical-align: top;
	height: 30px;
	width: 15%;
	
	margin-left:0;
	padding:0;
	background-color: #42ACA4;
	border: none;
}

.subDetails h3{
	font-size: 1.1em;
	margin-left: 5%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	line-height: 1.3em;
	color: #5A5A59;
}



.boxTitle{
	width: 100%;
	background-color: white;
	height: 30px;
	
}

.boxTitle p{
	padding-top: 4px;
	margin-left: 5%;
	color: #42ACA4;
    font-weight: bold;
}


.aboutTitle{
	width: 100%;
	
	height: 30px;
	
}

.aboutTitle p{
	padding-top: 20px;
	margin-left: 5%;
	color: #42ACA4;
    font-weight: bold;
    margin-bottom: 2em;
}

.aboutParagraph{
	width:90%;
	margin-left: 5%;
	
	padding-bottom: 1.5em;
	

}

.aboutParagraph p{
	margin-bottom: 0.5em;
}

#topParagraph{
    margin-top: 2em;
}


#bottomParagraph{
	padding-bottom: 2em;
}

#largerBox{
	height:auto;
    padding-bottom: 0.5rem;
}

#middleBox{
	height:30%;
}

#smallBox{
	height:23%;
}

.deliveryTime{
	width: 15%;
	
	margin-left: 5%;
	display: inline-block;
}

.deliveryTime p{
	margin-top: 1em;
	margin-bottom: 1em;
	font-weight: bold;
	font-size: 1.1em;
	color: #42ACA4;
}


.deliveryInfo{
    display: inline-block;
    width:79%;
    vertical-align: top;
}

.deliveryInfo select{
	margin-top: 1em;
	margin-left: 5%;
	width: 25%
	border: 1px solid #42ACA4;
}

.coupon{
    display: block;
    margin-top: 1rem;
    width: 75%;
    height: 2rem;
    margin-left: 5%;
    background: white;
    border: 1px solid #42ACA4;
}

.coupon p{
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    padding: 0.25rem;
}

#couponCount{
    display: inline-block;
    margin: 0;
    padding: 0;
}

.coupon input{
    float: right;
    width: 5rem;
    height: 1.9rem;
    background: white;
    border: none;
}

.deliveryInfo textarea{
	display: block;
	margin-left: 5%;
	margin-top: 1em;
	width: 75%;
	height: 5em;
    text-align: justify;	
}

.deliveryButtons{
margin-left: 5%;
margin-right: 20%;

}

.deliveryButton{
	width:18%;
	border: 1px solid #5A5A59;
	text-align: center;
	margin-top: 0.5em;
	margin-right: 1.49%;
	display: inline-block;
    background: #FFF;
}

.deliveryButton:hover{
	width:18%;
	border: 1px solid #5A5A59;
	text-align: center;
	margin-top: 0.5em;
	margin-right: 1.49%;
	display: inline-block;
    background: #42ACA4;
}

.priceComponents{
	margin-left: 5%;
	width:45%;
	margin-top: 1em;
	display: inline-block;
	font-size: 1.2em;
	text-align: right;
	
}

.priceCat{
	display: inline-block;
	margin-right: 12%;
	color: #42ACA4;
	font-weight: bold;
    text-align: center;
}

.priceAmount{
	display: inline-block;
	margin-right: 6%;
	margin-top: 0.5em;
	color: black;
	text-align: center;
	font-weight: bold;
}


.priceTotal{
	margin-left: 2%;
	width:44%;
	margin-top: 2em;
	display: inline-block;
	
	vertical-align: top;

}
.priceTotal h2{
color: #42ACA4;
font-size: 1.25em;
display: inline-block;

}

.footer{

  width: 80%;
  margin-left: 15%;
  
  height: 400px;
}

.hoursContainer{
  width: 28.5%;
  height: 80%;
  display: inline-block;
  margin-top: 3em;
  border-right: 2px solid #42ACA4;
  color: white;

}

.hoursImage{
    display: inline-block;
}

.hours{
    display: inline-block;
	margin-left: 20%;
	margin-top: 22%;
}

.hours p{
	text-align: left;
	margin-bottom: 1em;
	font-size: 1.25em;
}

.footerInfo{
  display: inline-block;
  vertical-align: top;
  margin-left: 7em;
  margin-top: 7%;
  color: white;
  font-size: 1.25em;
  
}

.footerInfo p{
	margin-top: 1em;
	margin-bottom: 1em;
}

/* weird stuffs section */
.checkmark {
    display:inline-block;
    width: 22px;
    height:22px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.checkmark_stem {
    position: absolute;
    width:3px;
    height:9px;
    background-color:#ccc;
    left:11px;
    top:6px;
}

.checkmark_kick {
    position: absolute;
    width:3px;
    height:3px;
    background-color:#ccc;
    left:8px;
    top:12px;
}

dialog {
    margin-left: auto;
    margin-right: auto;
    width: 22.5%;
    height: auto;
    background: white;
    border: 1px solid #42ACA4;
    padding: 5px 10px 20px 20px;
}  

#addAddressForm input[type=text]{
    display: block;
    height: 2rem;
    width: 80%;
    border: 1px solid #42ACA4;
    color: black;
    margin-top: 1rem;
    margin-left: 6%;
}

#addAddressForm textarea{
     display: block;
    height: 5rem;
    width: 80%;
    border: 1px solid #42ACA4;
    color: black;
    margin-top: 1rem;
    margin-left: 6%;
}

#exit, #save{
    color: white;
    margin-left: 6%;
    width: 37%;
}

.rArr{
    display: inline-block;
    float: right;
}

.rArr:after{
    content:"\231d";
    font-size: 1.3rem;
    transform:rotate(45deg);
    color: #42ACA4;
    display: none;
}

.selected .rArr:after{
    display:inline-block;
}

/*shopping cart hover */
.cartContainer {
    display: inline-block;
    position: relative;
    top: -2.2rem;
    margin-left: 73%;
    width: 15rem;
    min-height: 3rem;
    padding: 0;
    z-index: 1;	
    background-color: white;
    border: 0.5px solid grey;
}

.cartTitle:hover {
    background-color: #42ACA4;
    cursor: pointer;
}

.cartTitle p{
	padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    min-height: 3rem;
	padding-left: 5%;
    width: 100%;
    font-weight: bold;
    border-bottom: 1px solid grey;
}

.cart{
    padding-bottom: 1rem;
}

.cart:before{
    border-top: 2px solid grey;
}

.cartContainer .cart{
    display: none;
}

.cart h4{
    font-size: 0.75rem;
    padding-left: 5%;
    margin-top: 1.25rem;
}

.cart .orderItem{
    font-size: 0.8rem;
    color: black;
    text-decoration: none;
    list-style: none;
}

.cart .orderItem .right{
    margin-top: 2rem;
}

.cart .orderItem input{
    margin: 0;
    max-height: 1rem;
    height: auto;
    width: 1rem;
}

.cart .orderItem button{
    margin: 0;
    max-height: 1rem;
    height: auto;
    width: 1rem;
}

.cart #sum{
    font-size: 1rem;
    display: inline-block;
}

.cart #goCartButton{
    margin-left: 5%;
    display: inline-block;
    background-color: #42ACA4;
	border: none;
    padding: 0.5px;
	color: white;
}